@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}


/* font-family: 'Poppins', sans-serif; */

/* font-family: 'Playfair Display', serif; */



/* navbar css */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 2.5rem;
  box-shadow: 0 8px 6px -6px grey;
  --webkit-box-shadow: 0 8px 6px -6px grey; 
  border-bottom:  solid grey !important;
}

.nav-link{
  font-weight: 300;
}

.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

.footer{
  color: white;
  padding: 1rem;
  background: linear-gradient(to right, grey,black);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.footer a:hover{
  color: bisque;
  border-bottom: 1px solid white;
}


/* page not found Page */

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 9.5rem;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: .5rem;
  margin-top: 1rem;
}
.pnf-btn:hover{
  color: white;
background-color: black;
}


/* contact us */

.contactus{
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}

/* about us */

.aboutus{
  overflow-x: hidden;
}

/* ============================= */

.product-link{
  text-decoration: none !important;
  color: black !important;
}


/* product card */

.homePage{
  min-height: 75vh;
}
.pro-card{
  background: white;
  min-width: 380px;
  max-height: 240px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 8px 12px 30px rgb(166,169,172);
  position: relative;
}

.pro-details{
  color: rgb(57, 13, 8);
  width: 55%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: justify;
}
.product-price{
  font-size: 40px;
}
.card-title{
  color: rgb(4, 4, 4);
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.buyNow{
  background-color: #077543;
  border-radius: 0;
  border: none;
  outline: none;
  color: white;
  box-shadow: 2px 2px 7px #077543;
}
.buyNow:hover{
  background-color: black;
  box-shadow: 2px 2px 7px black;
  color: white;
}
.pro-img{
  position: absolute;
  right: -80px;
  top: -80px;
}
.productImg{
  max-height: 320px;
}

/* layout */

.mainPage{
  background: #e2dbdb;
  min-height: 75vh;
}